gmail_organizer/gmail-labels-setup.json
{
  "name": "Gmail Labels Setup (Run Once)",
  "nodes": [
    {
      "id": "manual",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 300],
      "parameters": {}
    },
    {
      "id": "get_existing",
      "name": "Get Existing Labels",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [220, 300],
      "parameters": {
        "authentication": "oAuth2",
        "resource": "label",
        "operation": "getAll"
      }
    },
    {
      "id": "check_and_create",
      "name": "Check and Create Missing Labels",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300],
      "parameters": {
        "jsCode": "// Labels we need\nconst requiredLabels = ['Work', 'Newsletters', 'Social Media', 'Finance', 'Personal', 'To Review'];\n\n// Get existing label names\nconst existingLabels = $input.all().map(item => item.json.name);\n\n// Find missing labels\nconst missingLabels = requiredLabels.filter(label => !existingLabels.includes(label));\n\nif (missingLabels.length === 0) {\n  return [{ json: { message: 'All labels already exist!', existingLabels: requiredLabels } }];\n}\n\n// Return missing labels to create\nreturn missingLabels.map(label => ({ json: { labelName: label, action: 'create' } }));"
      }
    },
    {
      "id": "filter_create",
      "name": "Filter Labels to Create",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [660, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond1",
              "leftValue": "={{ $json.action }}",
              "rightValue": "create",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "create_label",
      "name": "Create Label",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [880, 200],
      "parameters": {
        "authentication": "oAuth2",
        "resource": "label",
        "operation": "create",
        "name": "={{ $json.labelName }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Get Existing Labels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Existing Labels": {
      "main": [
        [
          {
            "node": "Check and Create Missing Labels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check and Create Missing Labels": {
      "main": [
        [
          {
            "node": "Filter Labels to Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Labels to Create": {
      "main": [
        [
          {
            "node": "Create Label",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
