gmail_organizer/gmail-organizer-auto-label.json
{
  "name": "Gmail Organizer - Auto Label Emails (AI)",
  "nodes": [
    {
      "id": "trigger",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [-400, 320],
      "parameters": {
        "authentication": "oAuth2",
        "event": "messageReceived",
        "simple": true,
        "filters": {
          "readStatus": "unread"
        }
      }
    },
    {
      "id": "get_labels",
      "name": "Get All Labels",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [-180, 320],
      "parameters": {
        "authentication": "oAuth2",
        "resource": "label",
        "operation": "getAll"
      }
    },
    {
      "id": "prepare_prompt",
      "name": "Prepare AI Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [40, 320],
      "parameters": {
        "jsCode": "const email = $('Gmail Trigger').first().json;\nconst allLabels = $('Get All Labels').all().map(item => item.json);\n\n// Build available labels info\nconst availableLabels = ['Work', 'Newsletters', 'Social Media', 'Finance', 'Personal', 'To Review'];\n\nreturn [{\n  json: {\n    messageId: email.id,\n    from: email.from || 'Unknown',\n    subject: email.subject || 'No subject',\n    snippet: (email.snippet || '').substring(0, 500),\n    allLabels: allLabels,\n    prompt: `Categorize this email into ONE of these categories: Work, Newsletters, Social Media, Finance, Personal, To Review.\n\nEmail details:\n- From: ${email.from || 'Unknown'}\n- Subject: ${email.subject || 'No subject'}\n- Preview: ${(email.snippet || '').substring(0, 300)}\n\nCategory definitions:\n- Work: Professional emails, work tools (Slack, GitHub, Jira, Zoom, etc.), colleagues, business\n- Newsletters: Subscriptions, digests, marketing emails, promotional content with unsubscribe links\n- Social Media: Facebook, Twitter/X, LinkedIn, Instagram, YouTube, Discord, WhatsApp notifications\n- Finance: Banks, payments, invoices, receipts, subscriptions, PayPal, Stripe, financial services\n- Personal: Emails from friends, family, personal contacts (usually from gmail.com, outlook.com, etc.)\n- To Review: Cannot determine category or doesn't fit others\n\nRespond with ONLY the category name, nothing else. Example: \"Work\" or \"Newsletters\"`\n  }\n}];"
      }
    },
    {
      "id": "openai",
      "name": "AI Categorize",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [260, 320],
      "parameters": {
        "resource": "text",
        "operation": "response",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "id"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.prompt }}"
            }
          ]
        },
        "options": {
          "temperature": 0.1,
          "maxTokens": 20
        }
      }
    },
    {
      "id": "map_label",
      "name": "Map to Label ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 320],
      "parameters": {
        "jsCode": "const prepData = $('Prepare AI Prompt').first().json;\nconst aiResponse = $('AI Categorize').first().json;\nconst allLabels = prepData.allLabels;\n\n// Extract category from AI response\nlet category = (aiResponse.content || aiResponse.message?.content || 'To Review').trim();\n\n// Normalize the category name\nconst validCategories = ['Work', 'Newsletters', 'Social Media', 'Finance', 'Personal', 'To Review'];\nconst normalizedCategory = validCategories.find(c => \n  c.toLowerCase() === category.toLowerCase() ||\n  category.toLowerCase().includes(c.toLowerCase())\n) || 'To Review';\n\n// Find label ID\nconst label = allLabels.find(l => l.name === normalizedCategory);\n\nif (!label) {\n  throw new Error(`Label \"${normalizedCategory}\" not found. Please run the Gmail Labels Setup workflow first.`);\n}\n\nreturn [{\n  json: {\n    messageId: prepData.messageId,\n    from: prepData.from,\n    subject: prepData.subject,\n    aiCategory: category,\n    labelName: normalizedCategory,\n    labelId: label.id\n  }\n}];"
      }
    },
    {
      "id": "add_label",
      "name": "Add Label to Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [700, 320],
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "operation": "addLabels",
        "messageId": "={{ $json.messageId }}",
        "labelIds": ["={{ $json.labelId }}"]
      }
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Get All Labels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Labels": {
      "main": [
        [
          {
            "node": "Prepare AI Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare AI Prompt": {
      "main": [
        [
          {
            "node": "AI Categorize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Categorize": {
      "main": [
        [
          {
            "node": "Map to Label ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map to Label ID": {
      "main": [
        [
          {
            "node": "Add Label to Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  }
}
